// GraphQL alias payload
{
    "payload": {
        "vofDetails" {
            "name": "vofDetails",
            "controls": "[]"
        },
        "adminPage" {
            "name": "adminPage",
            "controls": "[]"
        }
    }
}